/voedselbankSysteem/nbproject/private/
/voedselbankSysteem/build/
*.properties
*.properties
*.properties
*.properties
*.properties
*.properties
voedselbankSysteem/lib/curvesapi-1.04.jar
voedselbankSysteem/lib/commons-collections4-4.1.jar
voedselbankSysteem/lib/commons-codec-1.10.jar
voedselbankSysteem/lib/commons-logging-1.2.jar
voedselbankSysteem/nbproject/project.properties
voedselbankSysteem/src/voedselbanksysteem/DatabaseSource.java
